.overview {
    .row {
        gap: 20px;
        display: flex;

        .name {
            flex-grow: 1;

            h3 {
                margin-top: 0;
            }

            input {
                width: 100%;
            }
        }
    }

    .markdown {
        display: flex;
        align-items: center;
        margin-top: 8px;
        gap: 4px;

        svg {
            flex-shrink: 0;
            color: var(--tertiary-foreground);
        }

        a:hover {
            text-decoration: underline;
        }

        h5 {
            margin: 0;
        }
    }
}

.userList {
    gap: 8px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .subtitle {
        gap: 8px;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        text-transform: uppercase;
        color: var(--tertiary-foreground);
        font-weight: 700;

        .reason {
            text-align: center;
        }
    }

    .reason {
        flex: 2;
    }

    .invite,
    .ban,
    .member {
        gap: 8px;
        padding: 10px 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
        background: var(--secondary-background);
        border-radius: var(--border-radius);

        span,
        code {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        code {
            font-family: var(--monospace-font);
            user-select: all;
        }

        span {
            gap: 8px;
            display: flex;
            color: var(--secondary-foreground);
        }

        &[data-deleting="true"] {
            opacity: 0.5;
        }
    }

    .member {
        cursor: pointer;

        .chevron {
            transition: 0.2s ease all;
            color: var(--tertiary-foreground);
        }

        &:not([data-open="true"]) .chevron {
            transform: rotateZ(90deg);
        }
    }

    .memberView {
        padding: 10px;
        background: var(--primary-background);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        margin-top: -4px;
    }

    .virtual {
        flex-grow: 1;
    }
}